<h1>{{ profile.profile_name }}'s Profile</h1>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<p><strong>Description:</strong> {{ profile.description }}</p>
<p><strong>Skills:</strong> {{ profile.skills }}</p>
<h3>Average Rating</h3>

{% if average_rating is not None %}
    <p>⭐ {{ average_rating|floatformat:-1 }} / 5</p>
{% else %}
    <p>No ratings yet</p>
{% endif %}

{% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" width="150">
{% endif %}

{% if profile.resume %}
    <a href="{{ profile.resume.url }}" download>Download Resume</a>  
{% endif %}
<a href='{% url 'reviews' profile.id %}'>Reviews</a>

{% if profile != request.user.profile %}
    <a href="{% url 'review_create' profile.id %}">Leave a review</a>
{% endif %}


<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <a href='{% url 'user_jobs' profile.id %}'>Jobs Listed</a>
    <button type="submit">Log out</button>
</form>

{% if profile.id == request.user.profile.id %}
    <a href="{% url 'profile_delete' user.id %}">Delete Profile</a>
{% endif %}
</form>
<button>Return to <a href='/'>home</a> page</button>