{% extends 'job_board/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'auth/auth.css' %}">
<link rel="stylesheet" href="{% static 'auth/create-profile.css' %}">
{% block content %}
<div class="page-center">
    <div class="form-box">
        <h2>Create Your Profile</h2>
        <form method="POST">
            {% csrf_token %}
            {{ user_form.username }}
            {{ user_form.password1 }}
            {{ user_form.password2 }}
            {{ profile_form.location }}
            {{ profile_form.description }}
            {{ profile_form.profile_picture }}
            {{ profile_form.skills }}
            {{ profile_form.resume }}
            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}