    {% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Reviews</title>
</head>
<body>
<h1>User Reviews</h1>
{% for review in reviews %}
    <p>{{ review }}</p>
    {% empty %}
    <p>This user has no reviews yet</p>
{% endfor %}
<button>Return to <a href='/'>home</a> page</button> {% endcomment %}

<h2>Reviews</h2>

{% if reviews %}
    {% for review in reviews %}
        <div class="review">
            <p>Rating: {{ review.rating }}/5</p>
            <p>{{ review.comment }}</p>
            <small>
                Reviewed by {{ review.review_by_profile.user.username }}
            </small>
            {% if review.review_by_profile == request.user.profile %}
                <a href="{% url 'edit_review' review.id %}">Edit</a>
                <a href="{% url 'delete_review' review.id %}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No reviews yet.</p>
{% endif %}
