<h2>Reviews</h2>

{% if reviews %}
    {% for review in reviews %}
        <div class="review">
            <p>Rating: {{ review.rating }}/5</p>
            <p>{{ review.comment }} {% if review.edited %}<small>(edited)</small>{% endif %}</p>
            <small>
                Reviewed by <a href="{% url 'profile_detail' review.review_written.id %}">{{ review.review_written.user.username }}</a>
            </small>
            {% if review.review_written == request.user.profile %}
                <a href="{% url 'review_edit' review.id %}"><button>Edit</button></a>
                <form method="post" action="{% url 'review_delete' review.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
                </form>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
{% else %}
    <p>No reviews yet.</p>
{% endif %}
<button>Return to <a href='/'>home</a> page</button>