<h2>Reviews</h2>

{% if reviews %}
    {% for review in reviews %}
        <div class="review">
            <p>Rating: {{ review.rating }}/5.0</p>
            <p>{{ review.comment }}</p>
            <small>
                Reviewed by {{ review.review_received.user.username }}
                <hr>
            </small>
            {% if review.review_received == request.user.profile %}
                <a href="{% url 'edit_review' review.id %}">Edit</a>
                <a href="{% url 'delete_review' review.id %}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No reviews yet.</p>
{% endif %}
