{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'auth/login.css' %}">
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<div id='login-container'>
    <div id='logo'>
        <a href='{% url 'home' %}' class='logo'>Hustlr</a>
    </div>
    <div id='info'>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'profile_create' %} ">create profile</a>
</div>
    {% endblock %}