<h1>Jobs listed</h1>

{% if jobs %}
    {% for job in jobs %}
        <div class="job">
            <a href="{% url 'job_details' job.id %}"><h2>{{ job.title }}</h2><a/>
            {% if job.profile == request.user.profile %}
                <small><a href="{% url 'job_edit' job.id %}">Edit</a></small>
                <small><a href="{% url 'job_delete' job.id %}">Delete</a></small>
                <a href="{% url 'job_applicants' job.id %}">Applicants</a>
            {% endif  %}
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No reviews yet.</p>
{% endif %}

<p><a href="/">Return to home page</a></p>