{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'auth/login.css' %}">
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<div class="page-center">
    <div id="logo">
        <a href="{% url 'home' %}" class="logo">Hustlr</a>
    </div>
    <div id='login-container'>
        <div class='info'>
            <h2>Ready to take the next step?</h2>
            <p>Create an account or sign in.</p>
            <div class='terms'>
                <small>
                    By clicking any of the ‘Continue’ options below, 
                    you understand and agree to Hustlr's
                    <a href="{% url 'terms' %}">Terms</a> and 
                    <a href="{% url 'privacy' %}">Privacy</a> 
                    policies.
                </small>
                
            </div>
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors.0 }}</div>
        {% endif %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors.0 }}</div>
            {% endif %}
        </div>
        <button type="submit">Login</button>
    </form>
        <div id='create-profile'>
            <a href="{% url 'profile_create' %}" class="create-profile" >create profile</a>
        </div>
    </div>
</div>
{% endblock %}