<h1>Jobs listed<h1>

{% if jobs %}
    {% for job in jobs %}
        <div class="job">
            <p>{{ job.title }}</p>
            {% if job.profile == request.user.profile %}
                <small><a href="{% url 'job_edit' job.id %}">Edit</a></small>
                <small><a href="{% url 'job_delete' job.id %}">Delete</a></small>
            {% endif  %}
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No reviews yet.</p>
{% endif %}
<button>Return to <a href='/'>home</a> page</button>