{% extends 'job_board/base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/job_details.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Edit Job</h1>
    <div class="job-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            <hr>
            <div class="form-group">
                <label for="{{ form.price.id_for_label }}">
                    Price
                </label>
                {{ form.price }}
                {{ form.price.errors }}
            </div>
            <hr>
            <!-- IMAGES -->
            <div class="job-images">
                {% for image in images %}
                    <div class="image-box">
                        <img src="{{ image.image.url }}">
                        <label class="delete-check">
                            Delete
                            <input type="checkbox" name="delete_images" value="{{ image.id }}">
                        </label>
                    </div>
                {% endfor %}
                <input type="file" name="images" multiple>
            </div>
            
            <hr>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Job Description</label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            <hr>
            <button type="submit">Save Changes</button>
        </form>

        <div class="back-link">
            <a href="{% url 'job_details' job.id %}">
                ← Cancel
            </a>
        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const textarea = document.getElementById("id_description");

            function autoResize() {
                textarea.style.height = "auto";
                textarea.style.height = textarea.scrollHeight + "px";
            }

            textarea.addEventListener("input", autoResize);

            autoResize(); // resize on page load
        });
    </script>
</div>


{% endblock %}