{% extends 'job_board/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_bar.css' %}">
{% endblock %}

{% block content%}
    <div class="page-container">
        <h1>Browse Jobs</h1>
        <div class='search-wrapper'>
            {% include 'job_board/partials/search_bar.html' %}
        </div>
        <p class="job-count">{{ job_count }} jobs found</p>
        {% if messages %}
            <div class='messages'>
                {% for message in messages %}
                    <div class='alert alert-{{ message.tags }}'>
                        <p class='{{ message.tags }}'>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% for job in page_obj %}
            <div class="job-card">
                <div class="job-header">
                    <h3>
                        <a href="{% url 'job_details' job.id %}">{{ job.title }}</a>
                    </h3>
                    <span class="status-badge status-{{ job.status|lower }}">
                        {{ job.status|title }}
                    </span>
                </div>
                <p>Price: ${{ job.price|floatformat:2 }}</p>
                <p>Category: {{ job.category }}</p>
                <p>{{ job.description|truncatewords:15|default:"No description provided." }}</p>
                <a class="view-job" href="{% url 'job_details' job.id %}">View Job</a>
            </div>
        {% endfor %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <!-- <a href="?page=1&q={{ request.GET.q }}&category={{ request.GET.category }}">First</a> -->
                <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&category={{ request.GET.category }}">Previous</a>
            {% endif %}
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&category={{ request.GET.category }}">Next</a>
                <!-- <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}&category={{ request.GET.category }}">Last</a> -->
            {% endif %}
        </div>
    </div>
{% endblock %}