{% extends 'job_board/base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/job_details.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Edit Job</h1>
    <div class="job-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            <hr>
            <div class="form-group">
                <p>Price: ${{ job.price|floatformat:2 }}</p>
                {{ form.price.errors }}
            </div>
            <hr>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ job.description }}
                {{ job.description.errors }}
            </div>
            <hr>
            <input type="file" name="images" multiple>
            <button type="submit">Save Changes</button>
        </form>

        <div class="back-link">
            <a href="{% url 'job_details' job.id %}">
                ← Cancel
            </a>
        </div>

    </div>
</div>
{% endblock %}