# Django core
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database (optional if using SQLite locally)
# DATABASE_URL=sqlite:///db.sqlite3

# Allowed hosts
ALLOWED_HOSTS=127.0.0.1,localhost

# Cloudinary
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name




# Optional (if you later use email)
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=587
EMAIL_HOST_USER=your-email
EMAIL_HOST_PASSWORD=your-password