# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
.venv/
env/
ENV/
.env

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

!.env.example

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Mypy
.mypy_cache/

# PyCharm
*.iml
