.home-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* spacing between elements */
}

/* Logo image */
.logo img {
    width: 400px;
}

/* Search */
.search-wrapper {
    width: 1000px;
    max-width: 600px;
}

/* Home page button */
.get-started {
    display: inline-block;        /* makes it behave like a button */
    margin-top: 20px;             /* space below the <p> */
    padding: 12px 30px;
    background-color: #0073b1;
    text-decoration: none;        /* remove underline */
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.get-started:hover {
    background-color: #0073b19f;
}

.get-started a {
    color: white;
}
