.job_details {
    display: colum;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #f8f9fa;
    padding-top: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.432);
}