.profile-container {
    height: 90vh;
    gap: 20px; /* spacing between elements */
    flex-direction: column;
    align-items: center;
    display: flex;
}

.messages p {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.profile-header {
    width: 80%;
    height: 200px;
    display: flex;
    border: 1px solid #00000067;
    background-color: #ffffff97;
    border-radius: 6px;
    transition: box-shadow 0.2s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.671);
    padding: 20px;
    position: relative;
}

.profile-left {
    display: flex;
    width: 50%;
}

.profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    border: 2px solid #ccc;
}

.profile-info {
    padding: 10px;
    text-align: center;
}

.profile-menu {
    position: absolute;
    right: 40px;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.menu-btn:hover {
    background-color: rgb(218, 218, 218);
    text-wrap-style: balance;
}

/* Sidebar (dropdown) */
.menu-dropdown {
    position: absolute;
    right: 0;
    top: 40px;
    width: 180px;
    height: auto;
    display: none;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
}

.menu-dropdown.active {
    display: flex;    /* show when clicked */
}

.menu-dropdown a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
}

.menu-dropdown a:hover {
    background-color: #f0f0f0;
}

.menu-dropdown .delete-user {
    color: red;
}

/* Description  */
.profile-section {
    width: 80%;
    height: 200px;
    display: column;
    border: 1px solid #00000067;
    background-color: #fffdfd97;
    border-radius: 6px;
    transition: box-shadow 0.2s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.671);
    padding: 20px;
    position: relative;
    max-height: 200px;
}

.profile-section h3 {
    border-bottom: 1px solid #00000063;
    color: #0073b1;
    padding: 10px;
}

.profile-section p {
    padding: 10px;
}

.skills-list {
    padding: 10px;
    border-radius: 20px;
}

.profile-actions {
    display: flex;
}

.profile-actions a {
    background-color: #0073b1;
    color: white;
    border: none;
    padding: 6px 6px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s;
    height: 100%;
    margin: 10px;
}

.profile-actions a:hover {
    background-color: #0073b19f;
}

.profile-actions .report {
    padding: 6px 6px;
    background-color: rgb(153, 49, 49);
    align-items: right;
}

.profile-actions .report:hover {
    background-color: rgba(153, 49, 49, 0.731);
}