{% extends 'job_board/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h1 class="page-title">Profile Edit</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- HEADER -->
        <div class="profile-header">
            <div class="form-group">
                <div class="form-field profile-picture-field">
                    <img 
                        id="profilePreview" 
                        src="{% static 'images/default_profile.png' %}" 
                        alt="Profile Preview" 
                        class="profile-preview"
                    >
                    <!-- Hidden actual input (Django still uses this) -->
                    {{ form.profile_picture }}
                    <!-- Custom upload button -->
                </div>

                <div class="form-group">
                    <h1>{{ profile.user }}</h1>
                </div>
            </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <!-- SKILLS -->
        <div class="form-group">
            <label for="{{ form.skills.id_for_label}}">Skills</label>
            {{ form.skills }}
            {{ form.skills.errors}}
        </div>
        <button type="submit">Save Changes</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menu = document.querySelector(".menu-dropdown");
        const menuBtn = document.querySelector(".menu-btn");
        const exitBtn = document.getElementById("exit-btn");

        menuBtn.addEventListener("click", function () {
            console.log("Menu click");
            menu.classList.toggle("active");
        });

        exitBtn.addEventListener("click", function () {
            console.log("Exit click");
            menu.classList.remove("active");
        });
    });
</script>

</div>
{% endblock %}