{% extends 'job_board/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Reviews</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% if reviews %}
        {% for review in reviews %}
            <div class="review-card">
                <div class='review-header'>
                    <div class='img'>
                        {% if review.review_written.profile_picture %}
                            <img class="profile" src="{{ review.review_written.profile_picture.url }}">
                        {% else %}
                            <img class='profile' src="{% static 'images/default_profile.png' %}" alt="Profile Preview">
                        {% endif %}
                    </div>
                    <div class='reviewer-info'>
                        <a href="{% url 'profile_detail' review.review_written.id %}">
                            {{ review.review_written }}
                        </a>
                        <p class='rating'>Rating: {{ review.rating }}/5</p>
                        <small class='date'>{{review.created_at|timesince }} ago</small>
                    </div>
                    <!-- 3 DOT MENU (OWNER CONTROLS) -->
                    <div class="profile-menu">
                        <button class="menu-btn">...</button>
                        <div class="menu-dropdown">
                            {% if review.review_written != request.user.profile %}
                                <a href="{% url 'report_create' 'profile' profile.id %}?next={{ request.path }}">Report</a>            
                            {% endif %}
                            <a href="{% url 'review_edit' review.id %}">Edit Review</a>
                            <form method="post" action="{% url 'review_delete' review.id %}">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class='review-content'>
                    <p>{{ review.comment }} {% if review.edited %}<small>(edited)</small>{% endif %}</p>
                </div>
                {% comment %} <div class='review-actions'>
                    {% if review.review_written == request.user.profile %}
                        <a href="{% url 'review_edit' review.id %}"><button>Edit</button></a>
                        <form method="post" action="{% url 'review_delete' review.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div> {% endcomment %}
            </div>
        {% endfor %}
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menu = document.querySelector(".menu-dropdown");
            const menuBtn = document.querySelector(".menu-btn");
            const exitBtn = document.getElementById("exit-btn");
            menuBtn.addEventListener("click", function () {
                console.log("Menu click");
                menu.classList.toggle("active");
            });

            exitBtn.addEventListener("click", function () {
                console.log("Exit click");
                menu.classList.remove("active");
            });
        });
    </script>
</div>
{% endblock %}