{% extends 'job_board/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Edit Review</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}     
        <div class="review-card">
            <div class='review-header review-form-header'>
                <label for='{{ form.rating.id_for_label }}'>Rating</label>
                {{ form.rating }}
                {{ form.rating.errors }}
            </div>
            <div class='review-content review-form-content'>
                <label for="{{ form.comment.id_for_label }}">Comment</label>
                {{ form.comment }}
                {{ form.comment.errors }}
            </div>
            <button type="submit" class="review-submit-btn">Save Changes</button>
            <a class='cancel' href="{% url 'reviews' profile_id=review.review_received.id %}">
                ← Cancel
            </a>
        </div>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const textarea = document.getElementById("id_comment");

            if (!textarea) return;

            function autoResize() {
                textarea.style.height = "auto";
                textarea.style.height = textarea.scrollHeight + "px";
            }

            textarea.addEventListener("input", autoResize);

            autoResize();
        });
    </script>
</div>
{% endblock %}