{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hustlr</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav id="info">
            <a href='{% url 'home' %}' class='logo'>Hustlr</a>
            <div class='nav-right'>
            {% if user.is_authenticated and user.profile %}
                <a href="{% url 'inbox' %}">✉</a>
                <a href="{% url 'notifications' %}">🕭 ({{ unread_count }})</a>
                <a href="{% url 'profile_detail' user.profile.id %}">👤</a>
            {% else %}
            <div class='login'>
                <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
            <button id="menu-btn">☰</button>
            <ul class="sidebar">
                <button id="exit-btn">✖</button>
                {% if user.is_authenticated and user.profile %}
                    <li><a href="{% url 'home' %}">Home</a></li>

                    <li><a href="{% url 'my_jobs' %}">My Jobs</a></li>
                    <li><a href="{% url 'job_list' %}">Post a  Job</a></li>

                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'terms' %}">Terms of Service</a></li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <li><button type="submit">Log Out</button></li>
                </form>
                {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'terms' %}">Terms of Service</a></li>  
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>&copy; <span id="year"></span> Hustlr. All Rights Reserved.</p>
        <a href="{% url 'privacy' %}">Privacy Policy</a>
        <a href="{% url 'terms' %}">Terms of Service</a>
        <a href="{% url 'contact' %}">Contact Us</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sidebar = document.querySelector(".sidebar");
            const menuBtn = document.getElementById("menu-btn");
            const exitBtn = document.getElementById("exit-btn");
            menuBtn.addEventListener("click", function () {
                console.log("Menu click");
                sidebar.classList.toggle("active");
            });

            exitBtn.addEventListener("click", function () {
                console.log("Exit click");
                sidebar.classList.remove("active");
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            // Automatically update the copyright year
            document.getElementById('year').textContent = new Date().getFullYear();

            // Initialize Swiper
            const swiper = new Swiper(".card-swiper", {
                centeredSlides: false,
                spaceBetween: 0,
                slidesPerView: 'auto'
            });
        });
    </script>
</body>
</html>