{% extends 'job_board/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/search_bar.css' %}">
{% endblock %}
{% block content%} 
<div class='home-container'>
    <div class='search-wrapper'>
        {% include 'job_board/partials/search_bar.html' %}
    </div>
    <div class="logo">
        <picture>
        <source srcset="media/app/logo.png" type="image/webp">
        <img src={% static 'app/logo.png' %} alt="logo">
    </div>
</div>
{% endblock %} 