<h1>Job Details</h1>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1> {{ job.title }} </h1>
{{ job.images }}
{{ job.description}}
{% if job.due_date %}
    <p> Job Due By: {{ job.due_date}}</p>
{% endif %}
<p>Posted by: <a  href=" {% url 'profile_detail' job.profile.id %}">{{ job.profile }}</a></p>
<form method="post" action="{% url 'job_report' job.id %}">
        {% csrf_token %}
        <button type="submit">Report</button>
</form>
{% if job.profile == request.user.profile %}
    <a href="{% url 'job_edit' job.id %}"> <button>Edit</button> </a>
    <form method="post" action="{% url 'job_delete' job.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endif %}
<hr>
<p><a href="/">Return to home page</a></p>